html, body {
    color: #2699FB;
    font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
  background-color: #235681;
  padding: 10px 0;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-menu {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-logo img {
  display: block;
  margin: 0 auto;    
  max-height: 60px;
}

.header-account {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*********************SIDEBAR MENU START****************/
/*Adapted from source: W3Schools - https://www.w3schools.com/howto/howto_js_sidenav.asp
/* The side navigation menu */
.header-nav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #235681;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.header-nav a {
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.header-nav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.header-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .header-nav {padding-top: 15px;}
  .header-nav a {font-size: 18px;}
}
/*******************SIDEBAR MENU END***********************/

.hero-wrapper {
    background-color: #2699FB;
    color: #fff;
}

.hero-container {
    color: #fff;
    text-align: center;
    padding: 1% 10%;
    display: block;
}

.volunteer-form {
    border: 1px solid #2699FB;
    padding: 40px;
    margin: 30px;
    border-radius: 20px
}

.form-buttons {
    display: flex;
    justify-content: space-around;
}

.header-list {
  list-style-type: none;
  padding-left: 0;
}

.header-list li:hover {
  background-color: #2699FB;
}

.btn-menu {
  color: #FFF;
}

.btn-login-menu {
  color: #2699FB;
  background-color: #FFF;
}

.btn-login {
  color: #FFF;
  background-color: #2699FB;
  width: 100%;
}

.icon-login {
  padding-left: 10px;
}

.login-menu {
  background-color: #2699FB;
  color: #FFF;
  padding: 5%;
}

.login-menu a {
  margin: 2% auto;
}

.register-link:hover {
  background-color: #2699FB;
}

.show-section {
  display: block;
}

.hide-section {
  display: none;
}

main {
  min-height: 600px;
}

/*** PROGRESS TRACKER START ***/

.progress-tracker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px auto;
    padding: 0;
    list-style: none;
  }
  
  .progress-step {
    display: block;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
    margin: 0;
    padding: 0;
    min-width: 28px;
  }
  
  .progress-step:last-child {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  
  .progress-step:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -10;
    top: 12px;
    bottom: 12px;
    right: -14px;
    width: 100%;
    height: 4px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  
  .progress-step.is-active .progress-title {
    font-weight: 400;
    color: #2699FB;
    text-decoration: none;
  }
  
  .progress-step > a {
    display: block;
  }
  
  .progress-marker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 20;
    width: 28px;
    height: 28px;
    padding-bottom: 2px;
    color: #fff;
    font-weight: 400;
    border: 2px solid transparent;
    border-radius: 50%;
    -webkit-transition: background-color, border-color;
    transition: background-color, border-color;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  
  .progress-text {
    display: block;
    padding: 14px 9.3333333333px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .progress-text > a {
      text-decoration: none;
  }
  
  .progress-title {
    margin-top: 0;
    color: #BCE0FD;
  }
  
  .progress-step .progress-marker {
    color: #fff;
    background-color: #BCE0FD;
  }
  
  .progress-step::after {
    background-color: #BCE0FD;
  }
  
  .progress-step .progress-text, .progress-step .progress-step > a .progress-text {
    color: #2699FB;
  }
  
  .progress-step.is-active .progress-marker {
    background-color: #2699FB;
  }
  
  .progress-step.is-complete .progress-marker {
    background-color: #BCE0FD;
  }
  
  .progress-step.is-complete::after {
    background-color: #BCE0FD;
  }
  
  .progress-step:hover .progress-marker {
    background-color: #235681;
  }
  
  .progress-tracker--center .progress-step {
    text-align: center;
  }
  
  .progress-tracker--center .progress-step:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .progress-tracker--center .progress-step::after {
    right: -50%;
  }
  
  .progress-tracker--center .progress-marker {
    margin-left: auto;
    margin-right: auto;
  }
  
  .progress-tracker--border {
    padding: 5px;
    border: 2px solid #868686;
    border-radius: 38px;
  }
  
/*** PROGRESS TRACKER END ***/

.login-form {
  border: 1px solid #2699FB;
  padding: 40px;
  margin: 25px auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.card-body {
  text-align: center;
}

/** VOLUNTEER DETAILS **/

.volunteer-details th, td {
  padding: 5px 10px;
}

.archived-row {
  background-color: #2699FB;
  color: #FFF;
}

.archived-row a {
  color: #FFF;
}

.day-circle {
  width: 45px;
  height: 25px;
  border-radius: 30%;
  font-size: 1em;
  color: #2699FB;
  line-height: 25px;
  text-align: center;
  background: #FFF;
  border: 2px solid #2699FB;
  display: inline-block;
}

.day-circle-empty {
  color: #FFF;
  background: #FFF;
  border: 2px solid #FFF;
}

.day-circle-archived {
  color: #2699FB;
  background: #2699FB;
  border: 2px solid #2699FB;
}

.iconify {
  border: 2px solid #2699FB;
  border-radius: 45%;
  width: 200px;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.card {
  align-items: center;
}

.card-img-top {
  width: 75%;
  height: 75%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}